{% extends "layout.html" %}

{% block title %}
Top Rated Movies & TV Shows
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Top Rated Movies & TV Shows</h1>

    <!-- Movies Section -->
    <h2 class="mb-4">Top Rated Movies</h2>
    <div class="row">
        {% for movie in top_rated_movies %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <a href="/movie/{{ movie['id'] }}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" class="card-img-top" alt="{{ movie['title'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie['title'] }}</h5>
                        <p class="card-text">{{ movie['overview'][:100] }}...</p>
                        <p class="card-text"><small class="text-muted">Rating: {{ movie['vote_average'] |round|int}}</small></p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- TV Shows Section -->
    <h2 class="mb-4">Popular TV Shows</h2>
    <div class="row">
        {% for tv_show in top_rated_tv_shows %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <a href="/tv/{{ tv_show['id'] }}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ tv_show['poster_path'] }}" class="card-img-top" alt="{{ tv_show['name'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ tv_show['name'] }}</h5>
                        <p class="card-text">{{ tv_show['overview'][:100] }}...</p>
                        <p class="card-text"><small class="text-muted">Rating: {{ tv_show['vote_average'] |round|int}}</small></p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
