/* Size for brand */
.navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
.navbar-brand .blue
{
    color: #537fbe;
}
.navbar-brand .red
{
    color: #ea433b;
}
.navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-brand .green
{
    color: #2e944b;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
}
#info{
    border: 1px solid;
}
#title{
    border: 1px solid;
}
#text-box{
    border: 1px solid;
}
