{% extends "layout.html" %}

{% block title %}
    My List
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center mb-5">My List</h1>

    <div class="container mt-4">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/mylist/movie">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/mylist/tv">Tv Shows</a>
            </li>
          </ul>
    </div>
    <!-- User's TV Shows List -->
    <h2 class="mb-4 mt-5">TV Shows</h2>
    <div class="row justify-content-center">
        {% if tv_shows %}
        {% for tv in tv_shows %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <a href="/tv/{{ tv['id'] }}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ tv['poster_path'] }}" class="card-img-top" alt="{{ tv['name'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ tv['name'] }}</h5>
                    <p class="card-text">Status: {{ tv['status'] }}</p>
                    <p class="card-text">Your Rating: {{ tv['rating'] }}/10</p>
                    <p class="card-text">Episodes Watched: {{ tv['episodes'] }}/{{ tv['number_of_episodes'] }}</p>
                    </a>
                    <div class="mt-4">
                        <form action="/remove/tv/{{tv['id']}}" method="POST">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No TV shows in your list yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
